.jumbotron{
    background-color: turquoise;  
    color: black;
    align-items: center;
    margin-top: 50px;
}
footer{
    padding:  10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(204, 233, 241);
    
    
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 5px 5px 5px;
    margin-top: 10px;
    align-items: center;
}
.btn{
    background-color: turquoise;  
}
.btn-reserva{
    width: 100%;
}
.footer-address-icon {
    padding-right: 10px;    
}
.tab-content {
	padding-top: 10px;
}