.jumbotron {
    background-color: #f54242;
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .display-4 {
    font-weight: 600;
  }
  .btn-primary {
    background-color: brown;
    color: white;
  }
  footer {
    padding: 10px 10px 0 10px;
    background-color: #f54242;
    color: white;
    margin-top: 60px;
    margin-bottom: 0px;
  }
  a {
    color: white;
    font-weight: 600;
  }
  hr {
    color: purple;
    background-color: purple;
  }
  .card-hotel {
    padding: 10px 10px 10px 10px;
    flex: 1 250px;
  }
  .btn-reserva {
    width: 100%;
    position: relative;
    bottom: 0px;
  }
  img {
    /* En caso de querer centralizar una imagen más pequeña dentro del div */
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  li a {
    color: black;
  }
  .nav-pills > li > a.active {
    background-color: #f54242 !important;
  }
  .tab-content {
    padding-top: 10px;
  }
  .img-fix {
    width: 800px;
    height: 480px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
  